* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #f3eaff;
    font-family: Mulish;
}

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: #1E1E1E;
}

h2 {
    margin-top: 50px;
    text-align: center;
    padding: 10px;
    background-color: #00468b;
}

h3 {
    margin-top: 20px;
    margin-left: 10px;
    margin-left: 20px;
}

p {
    margin-top: 10px;
    margin-left: 20px;
    margin-bottom: 10px;
}

table {
    background-color: #003161;
    height: auto;
    border-spacing: 1px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 30px;
}

td :nth-child(even) {
    background-color: #003161;
}

td {
    padding: 10px;
    border-spacing: 1px;
    background-color: #f3eaff;
    text-align: left;
}

th {
    background-color: #b07ff0;
    padding: 5px;
}

input {
    padding: 10px;
    background-color: #ffffff;
}

body>footer {
    color: #ffffff;
    background-color: #001d3a;
    padding: 10px;
    text-align: center;
}

.MenuPrincipal {
    background-color: #003161;
    padding: 10px 20px;
}

.MenuPrincipal ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
}

.MenuPrincipal a {
    text-decoration: none;
    color: white;
    padding: 8px 15px;
    border-radius: 4px;
    display: block;
    font-weight: bold;
}

.MenuPrincipal li {
    margin-right: 5%;
    margin-left: 5%;
}

#titulo {
    background-color: #001d3a;
    padding: 10px;
    color: #ffffff;
    text-align: center;
}

#recursos_adicionais {
    display: flex;
    list-style: none;
    padding: 10px;
    margin: 10px;
    align-items: center;
    justify-content: center;
    padding-bottom: 10px;
}

#recursos_adicionais li {
    margin-right: 30px;
}

.galeria {
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

#links {
    padding-top: 20px;
    text-align: center;
    text-decoration: none;
    font-size: 1.5em;
}
.galeria img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s;
    box-shadow: 3px 3px 10px 1px #1d82e780;
}
.galeria img:hover {
    transform: scale(1.05);
}

.imagem {
    margin: 20px;
    border-radius: 10px;
    width: 200px;
    display: block;
    max-width: 100%;
    box-shadow: 3px 3px 20px 1px #1d82e7;
}

.imagem_descricao {
    width: 200px;
}

.letra_grande {
    font-size: 1.2em;
}

.celula_img {
    padding: 0;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');