body{
    background-color: #1c1c1c;
    color: #f0f8ff;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#foto_principal{
    border-radius: 8px;
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

}
#player {
    text-align: center;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
}
